#!/usr/bin/env xdg-open
[Desktop Entry]
Type=Application
Exec=/usr/bin/time-limit
Icon=/usr/share/icons/hicolor/32x32/icon.png
Hidden=false
NoDisplay=false
X-GNOME-Autostart-enabled=true
X-MATE-Autostart-enabled=true
Name=Time limit
Comment=Program that limits screen time.
Categories=Administration;Settings;System
